{% extends 'base.html.twig' %}
{% set page_title = 'Użytkownicy' %}

{% block body %}
    <div class="container">

        <form class="well form-horizontal" method="post" id="add_user_form" action="">
            <fieldset>
                <legend>Dodaj użytkownika</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label">Nazwa użytkownika</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="username" placeholder="Nazwa użytkownika" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Hasło</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input name="password" placeholder="Hasło użytkownika" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">E-mail</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="email" placeholder="Adres e-mail" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" name="add-user">Dodaj</button>
                    </div>
                </div>

            </fieldset>
        </form>

        <div id="updateModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form" method="post" id="update_user_form" action="">
                        <fieldset>
                            <div class="modal-header">
                                <h3>Edytuj użytkownika</h3>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="id">Id:</label>
                                    <input type="text" class="form-control" id="update-id" name="id" value=""
                                           readonly="readonly"/>
                                </div>
                                <div class="form-group">
                                    <label for="username"> Nazwa:</label>
                                    <input type="text" class="form-control" id="update-username" name="username"
                                           value="">
                                </div>

                                <div class="form-group">
                                    <label for="password"> Hasło:</label>
                                    <input type="text" placeholder="*****" class="form-control" name="password">
                                </div>
                                <div class="form-group">
                                    <label for="email"> E-mail:</label>
                                    <input type="text" class="form-control" id="update-email" name="email" value="">
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <button type="button" data-toggle="modal" data-target="#updateModal"
                                                title="Aktualizuj dane" class="btn btn-success"
                                                name="update-user"><span
                                                    class="glyphicon glyphicon-check"></span></button>
                                        <button type="button" data-toggle="modal" data-target="#updateModal"
                                                title="Anuluj"
                                                class="btn btn-danger"
                                                name="remove-update-form"><span
                                                    class="glyphicon glyphicon-remove"></span></button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>

        <div class="well form-horizontal">
            <legend>Lista użytkowników</legend>
            <table id="users" class="table table-striped">
                <thead>
                <tr>
                    <th class="col-md-1">Id</th>
                    <th class="col-md-2">Użytkownik</th>
                    <th class="col-md-3">Email</th>
                    <th class="col-md-4">Opcje</th>
                </tr>
                </thead>
                <tbody id="users-table">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/users.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/users.css') }}">
{% endblock %}




