<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@DictionaryBundle - manager</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        var dict_get_all = "{{ path('dictionary_get_all') }}";
        var val_get_all = "{{ path('dictionary_value_get_all', {'dict': 'placeholder'}) }}";
    </script>
    <script type='text/javascript' src="{{ asset('bundles/dictionary/js/ajax.js') }}"></script>
</head>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Values</h3>

            <form class="form-inline">
                <div class="form-group">
                    <label for="dictionary-select">Dictionary:</label>
                    <select class="form-control" id="dictionary-select">
                        <option selected disabled value="">-----</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Value</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody id="value-table">
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Dictionaries</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody id="dictionary-table">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>