<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl-pl" lang="pl-pl" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <title>{% if page_title is defined %} {{ page_title }} :: {% endif %} Internetowy Serwis Edukacyjny</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            {{ include('common/__stylesheet.html.twig') }}
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('bundles/app/img/favicon.ico') }}" type="image/vnd.microsoft.icon" />
    </head>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('homepage') }}">Internetowy Serwis Edukacyjny</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}"><a href="{{ path('homepage') }}">Strona główna</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Wyszukaj
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Placówki oświatowe</a></li>
                        <li><a href="#">Formy doskonalenia</a></li>
                        <li><a href="{{ path('courses') }}">Studia dla nauczycieli</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Złóż wniosek
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('trainings_form') }}">Formy doskonalenia</a></li>
                        <li><a href="{{ path('course_form') }}">Studia dla nauczycieli</a></li>
                    </ul>
                </li>
                <li class="dropdown {% if app.request.get('_route') starts with 'admin' %}active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Administracja
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Placówki oświatowe</a></li>
                        <li><a href="#">Formy doskonalenia</a></li>
                        <li><a href="#">Studia dla nauczycieli</a></li>
                        <li><a href="{{ path('admin_trainings_proposals_index') }}">Wnioski dla form doskonalenia</a></li>
                        <li><a href="{{ path('admin_courses_proposals_index') }}">Wnioski dla form kształcenia</a></li>
                        <li><a href="{{ path('admin_dictionary_index') }}">Słownik</a></li>
                        <li><a href="{{ path('admin_users_index') }}">Użytkownicy</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.7/js/jquery.tablesorter.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/vue"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            {{ include('common/__javascript.html.twig') }}
        {% endblock %}
    </body>
</html>
