{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Witamy w Internetowym Serwisie Edukacyjnym</h1>
        <p>Internetowy Serwis Edukacyjny (ISE) to ogólnokrajowa baza gromadząca i popularyzująca informację pedagogiczną
            adresowaną do różnych środowisk. Celem ISE jest tworzenie jednolitego systemu informacji oświatowej,
            usprawnienie wymiany informacji między instytucjami i organizacjami oświatowymi. ISE, jako źródło informacji
            o zasięgu krajowym, jest wykorzystywane przez instytucje zajmujące się polską edukacją oraz bezpośrednio
            przez nauczycieli, poszukujących informacji o nowych formach doskonalenia i kształcenia zawodowego. Zakres
            danych gromadzonych w ISE obejmuje:
        </p>
        <ul>
            <li>szkoły, placówki oświatowe i stowarzyszenia nauczycielskie,</li>
            <li>formy doskonalenia zawodowego organizowane przez wojewódzkie placówki doskonalenia nauczycieli,</li>
            <li>studia dla nauczycieli licencjackie, magisterskie i podyplomowe w roku akademickim 2016/2017.</li>
        </ul>
        <p>Zapraszamy do zapoznania się z ofertą studiów licencjackich, magisterskich i podyplomowych i wykorzystania
            tych informacji w planowaniu doskonalenia zawodowego w nowym roku szkolnym 2016/2017</p>
        <p><b>Jak zamieścić informację o formach kształcenia nauczycieli w roku akademickim 2017/2018?</b></p>
        <p>Ośrodek Rozwoju Edukacji, wzorem lat ubiegłych, zaprasza szkoły wyższe do zamieszczenia w naszej bazie
            Internetowego Serwisu Edukacyjnego (ISE) informacji o planowanych w roku akademickim 2017/2018 studiach dla
            nauczycieli. Informacje można przesyłać 29 kwietnia 2017 roku, korzystając z formularza dostępnego na
            stronie ORE Wniosek dla studiów dla nauczycieli.</p>

        <p><b>Jak zamieścić informację o formach doskonalenia nauczycieli w roku szkolnym 2017/2018?</b></p>
        <p>Ośrodek Rozwoju Edukacji, wzorem lat ubiegłych, zaprasza placówki doskonalenia nauczycieli do przesyłania
            informacji o planowanych w roku szkolnym 2017/2018 formach doskonalenia, które zostaną zamieszczone w
            Internetowym Serwisie Edukacyjnym(ISE). ISE to ogólnopolska baza informacji dostępna na stronie internetowej
            ORE , której celem jest promowanie bogatej oferty szkoleniowej placówek doskonalenia nauczycieli, w tym
            szczególnie w obszarach związanych z realizacją kierunków polityki oświatowej. Informacje o formach
            doskonalenia można przesłać za pomocą formularza Wniosek dla form doskonalenia.</p>
        <p><b>Redaktor Internetowego Serwisu Edukacyjnego<br>Barbara Wałecka</b><br>kontakt e-mail:
            barbara.walecka@ore.edu.pl<br>tel. 22 345 37 40
        </p>
    </div>
{% endblock %}
