{% extends 'base.html.twig' %}
{% set page_title = 'Wnioski dla form kształcenia' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/proposals.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <h2>Wnioski dla form kształcenia</h2>
        <br>
        <div id="app">
            <div class="dataTable">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Numer wniosku</th>
                        <th>Data wypełnienia</th>
                        <th>Nazwa formy kształcenia</th>
                        <th>Nazwa placówki</th>
                        <th>Miejscowość</th>
                        <th>Usuń</th>
                    </tr>
                    </thead>
                    <tbody class="tbody" v-for="item,key in results">
                    <tr class="initial">
                        <td class="rowTab" data-toggle="collapse" :data-target="'#demo'+key">${ item.copr_id }</td>
                        <td class="rowTab" data-toggle="collapse" :data-target="'#demo'+key">${ item.proper_date }</td>
                        <td class="rowTab" data-toggle="collapse" :data-target="'#demo'+key">${ item.copr_cou_name }</td>
                        <td class="rowTab" data-toggle="collapse" :data-target="'#demo'+key">${ item.copr_fac_name }</td>
                        <td class="rowTab" data-toggle="collapse" :data-target="'#demo'+key">${ item.copr_fac_town }</td>
                        <td><button class="btn btn-primary toggle" @click="deleteProposal(item.copr_id)">Usuń</button></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="active">
                            <div :id="'demo'+key" class="collapse">
                                <br>
                                <p><b>Numer wniosku:</b> ${ item.copr_id }</p>
                                <p><b>Nazwa uczelni:</b> ${ item.copr_fac_name }</p>
                                <p><b>Miejscowość uczelni:</b> ${ item.copr_fac_town }</p>
                                <p><b>Nazwa jednostki odpowiedzialnej:</b> ${ item.copr_resp_fac_name }</p>
                                <p><b>Miejscowość jednostki odpowiedzialnej:</b> ${ item.copr_resp_fac_town }</p>
                                <p><b>Numer telefonu jednostki odpowiedzialnej:</b> ${ item.copr_resp_fac_phone}</p>
                                <p><b>Adres e-mail jednostki odpowiedzialnej:</b> ${ item.copr_resp_fac_email }</p>
                                <p><b>Adres e-mail wnioskodawcy:</b> ${ item.copr_aut_email }</p>
                                <p><b>Imię i nazwisko wnioskodawcy:</b> ${ item.copr_aut_name }</p>
                                <p><b>Data wypełnienia:</b> ${ item.proper_date }</p>
                                <p><b>Nazwa formy kształcenia:</b> ${ item.copr_cou_name }</p>
                                <p><b>Rodzaj formy kształcenia:</b> ${ item.rfk }</p>
                                <p><b>Stopień kształcenia:</b> ${ item.sk }</p>
                                <p><b>Uzyskane kwalifikacje:</b> ${ item.kw }</p>
                                <p><b>Sposób rekrutacji:</b> ${ item.sr }</p>
                                <p><b>Przedmioty:</b> ${ item.trp_tra_description }<span v-for="subject in item.subjects"> ${ subject.value },
                                    </span></p>
                                <p><b>Rok akademicki:</b> ${ item.copr_cou_academicyear }</p>
                                <p><b>Okres trwania:</b> ${ item.copr_cop_begin_timestamp } -</p> ${ item.copr_cop_end_timestamp
                                    }</p>
                                <p><b>Liczba semestrów:</b> ${ item.copr_cou_semesters }</p>
                                <p><b>Uwagi:</b> ${ item.copr_cou_description }</p>
                                <br>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript' src="{{ asset('bundles/app/js/proposals.js') }}"></script>
{% endblock %}