{% extends 'base.html.twig' %}
{% set page_title = 'Wnioski dla form doskonalenia' %}

{% block stylesheets %}
    {{ parent() }}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/proposals.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <h2>Wnioski dla form doskonalenia</h2>
        <br>
       <div id="app">
            <div class="dataTable">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Numer wniosku</th>
                        <th>Data wypełnienia</th>
                        <th>Nazwa formy doskonalenia</th>
                        <th>Nazwa placówki</th>
                        <th>Miejscowość</th>
                        <th>Usuń</th>
                    </tr>
                    </thead>
                        <tbody class="tbody" v-for="item,key in results">
                            <tr class="initial">
                                <td class="rowTab" data-toggle="collapse" :data-target="'#demo'+key">${ item.trp_id }</td>
                                <td class="rowTab" data-toggle="collapse" :data-target="'#demo'+key">${ item.trp_date }</td>
                                <td class="rowTab" data-toggle="collapse" :data-target="'#demo'+key">${ item.trp_tra_name }</td>
                                <td class="rowTab" data-toggle="collapse" :data-target="'#demo'+key">${ item.trp_fac_name }</td>
                                <td class="rowTab" data-toggle="collapse" :data-target="'#demo'+key">${ item.trp_fac_town }</td>
                                <td><button class="btn btn-primary toggle" @click="deleteProposal(item.trp_id)">Usuń</button></td>
                            </tr>
                            <tr>
                                <td colspan="4" class="active">
                                    <div :id="'demo'+key" class="collapse">
                                        <br>
                                        <p><b>Numer wniosku: </b>${ item.trp_id }</p>
                                        <p><b>Nazwa placówki: </b>${ item.trp_fac_name }</p>
                                        <p><b>Miejscowość: </b>${ item.trp_fac_town }</p>
                                        <p><b>Adres placówki: </b>${ item.trp_fac_address }</p>
                                        <p><b>Adres e-mail wnioskodawcy: </b>${ item.trp_aut_email }</p>
                                        <p><b>Imię i nazwisko wnioskodawcy: </b>${ item.trp_aut_name }</p>
                                        <p><b>Data wypełnienia: </b>${ item.trp_date }</p>
                                        <p><b>Nazwa formy doskonalenia: </b>${ item.trp_tra_name }</p>
                                        <p><b>Rodzaj formy doskonalenia: </b>${ item.value }</p>
                                        <p><b>Przemioty:</b>
                                            <span v-for="subject in item.subjects">
                                                    ${subject.value},
                                            </span>
                                        </p>
                                        <p><b>Rok szkolny:</b> ${ item.trp_tra_schoolyear }</p>
                                        <p><b>Liczba godzin:</b> ${ item.trp_tra_hours }</p>
                                        <p><b>Uwagi:</b> ${ item.trp_tra_description }</p>
                                        <br>
                                    </div>
                                </td>
                            </tr>




                        </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script type='text/javascript' src="{{ asset('bundles/app/js/trainingProposal.js') }}"></script>
{% endblock %}