{% extends "@FOSUser/layout.html.twig" %}
{% set page_title = 'Logowanie' %}
{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}
