#value-table tr td:nth-child(1) {
    width: 1%;
}

#value-table tr td:nth-child(2) {
    width: 15%;
}

#value-table tr td:nth-child(3) {
    width: 2%;
}

#update-id {
    margin-left: 5px;
    margin-right: 5px;
}

#update-value {
    margin-left: 5px;
    margin-right: 5px;
}