{% extends 'base.html.twig' %}
{% set page_title = 'Słownik' %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Słownik</h3>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="dictionary-select">Wybierz słownik: </label>
                        <select class="form-control" id="dictionary-select">
                            <option selected disabled value="">-----</option>
                        </select>
                    </div>
                </form>
                <br>
                <form class="form-inline" id="add-form">
                    <label for="add-value">Dodaj do słownika: </label>
                    <input required class="form-control"
                           id="add-value"
                           name="value"
                           value="">
                    <button value="add-value" class="btn btn-primary" type="button" name="add-value"><span
                                class="glyphicon glyphicon-plus"></span></button>
                </form>
            </div>
            <div class="panel-body">
                <table class="table table-striped" id="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nazwa</th>
                        <th class="sorter-false">Opcje</th>
                    </tr>
                    </thead>
                    <tbody id="value-table">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edycja</h4>
                </div>
                <div class="modal-body" id="modal-body">
                    <form id="update-form" class="form-inline">
                        <div class="form-group">
                            <label for="update-id">Id: </label>
                            <input id="update-id"
                                   class="form-control" readonly
                                   name="id" type="text"
                                   value="">
                        </div>
                        <div class="form-group">
                            <label for="update-value">Nazwa: </label>
                            <input class="form-control"
                                   id="update-value"
                                   name="value"
                                   value="">
                        </div>
                    </form>
                </div>
                <br>
                <div class="modal-footer">
                    <button type="button" name="update-value" class="btn btn-success" data-dismiss="modal">
                        <span class="glyphicon glyphicon-check"></span></button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
        </div>
    </div>





{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var dict_get_all = "{{ path('dictionary_get_all') }}";
        var val_get_all = "{{ path('dictionary_value_get_all', {'dict': 'placeholder'}) }}";
    </script>
    <script type='text/javascript' src="{{ asset('bundles/app/js/dictionary.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/dictionary.css') }}">
{% endblock %}