{% extends 'base.html.twig' %}
{% set page_title = 'Wniosek dla form doskonalenia' %}
{% block body %}
    <div class="container">
        <br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_row(form.subject,{'label': 'custom label per item' }) }}
        <br>
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>
{% endblock %}