{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div id="app">
        <form action="">
            <div class="form-group">
                <label for="sel1">Województwo:</label>
                <select class="form-control" id="sel1">
                    <option value="">- wybierz -</option>
                    <option v-for="voivodeship,key in voivodship" v-text="key" :value="voivodeship"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="usr">Miejscowość:</label>
                <input type="text" class="form-control" id="usr">
            </div>
            <div class="form-group">
                <label for="pwd">Nazwa placówki:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Nazwa:</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="sel1">Rodzaj:</label>
                <select class="form-control" id="sel1">
                    <option>- wybierz -</option>
                    <option v-for="typ,key in types" v-text="key" :value="typ"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="pwd">Filtruj:</label>
                <input type="password" class="form-control" id="pwd">
            </div>

            <div class="form-group">
                <label for="sel1">Przedmioty:</label>
                <select multiple class="form-control" id="sel1">

                    <option v-for="subject,key in subjects" v-text="key" :value="subject"></option>

                </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <pre>
            ${ voivodship }
        </pre>
    </div>

</div>
{% endblock %}

{% block javascripts %}

        {{ parent() }}
    <script>

        var url = Routing.generate('trainings_get');

        $.ajax({
            method: "POST",
            url: url,
            dataType: "json",
            success:function (data) {
                console.log(data);
                app.voivodship = data.voivodship;
                app.types = data.types;
                app.subjects = data.subjects;
            },
            error:function () {
                alert('wystąpil jakis blad');
            }
        });

        var app = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: {
                voivodship: [],
                types: [],
                subjects: []
            }
        })
    </script>
{% endblock %}