{% extends 'base.html.twig' %}
{% set page_title = 'Wniosek dla studiów dla nauczycieli' %}
{% block body %}

    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        {{ form_end(form) }}
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascript %}{% endblock %}