{% extends 'base.html.twig' %}

{% block body %}

    {#<div class="container">#}
    {#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}

    {#{{ form_end(form) }}#}
    {#</div>#}


    <div class="container" id="root" style="display:none">
        <form>
            <div class="form-group">
                <label>Województwo</label>
                <select class="form-control" v-model="selected_voiv">
                    <option  value="">- Wybierz województwo -</option>
                    <option v-for="id,name in selects_values[0]" v-text="name" :value="id"></option>
                </select>
            </div>
            <div class="form-group">
                <label>Miejscowość</label>
                <input type="text" class="form-control" v-model="city">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nazwa uczelni</label>
                <input type="text" class="form-control" v-model="school_name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nazwa studiów</label>
                <input type="text" class="form-control" v-model="study_name">
            </div>
            <div class="form-group">
                <label for="exampleSelect1">Stopień kształcenia</label>
                <select class="form-control" v-model="selected_degree">
                    <option  value="">- Wybierz stopień kształcenia -</option>
                    <option v-for="id,name in selects_values[1]" v-text="name" :value="id"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleSelect1">Uzyskane kwalifikacje</label>
                <select class="form-control" v-model="selected_qualification">
                    <option  value="">- Wybierz uzyskane kwalifikacje -</option>
                    <option v-for="id,name in selects_values[2]" v-text="name" :value="id"></option>
                </select>
            </div>
            <label for="subjects_div">Kierunek</label>
            <div class="scrollable" id="subjects_div">

                <div class="subject">
                    <div v-for="id,name in selects_values[3]">
                        <input type="checkbox" v-model="checked_subjects" :value="id" :id="name">
                        <label :for="name" v-text="name"></label>
                    </div>
                </div>
            </div>


            <button type="submit" class="btn btn-primary" @click.prevent="filterData">Submit</button>
        </form>
        <div v-if="courses_quantity!=0">
            <table class="table table-hover">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Rodzaj</th>
                <th>Kierunek</th>
                <th>Miejscowość</th>
            </tr>
            </thead>
            <tbody v-for="course,key in courses">
                <tr @click="row_show===key ? row_show='' : row_show=key">
                    <td v-text="course.course_name"></td>
                    <td v-text="course.course_types"></td>
                    <td><span v-for="sub in course.subjects">@{sub}</span></td>
                    <td v-text="course.fac_town"></td>
                </tr>

                <tr data-toggle="collapse" v-if="row_show===key" >
                    <td colspan="4">
                        <div>
                            <p><b>liczba semestrów: </b> <span v-text="course.semesters"></span></p>
                            <p><b>Stopień kształcenia: </b> <span v-text="course.levels"></span></p>
                            <p><b>Uzyskane kwalifikacje: </b> <span v-text="course.qual"></span></p>
                            <p><b>Sposób rekrutacji: </b> <span v-text="course.appl"></span></p>
                            <br>
                            <p><b v-text="course.fac_name"></b></p>
                            <p v-text="course.fac_address"></p>
                            <p v-text="course.fac_town"> </p>
                            <br>
                            <p>Telefon: <span v-text="course.fac_phone"></span></p>
                            <a :href="course.fac_www" v-text="course.fac_www"></a>

                            <div v-if="course.parent_name!=null">
                                <hr>
                                <p><b>Placówka nadrzędna </b></p>
                                <p><b v-text="course.parent_name"></b></p>
                                <p v-text="course.parent_adress"></p>
                                <p v-text="course.parent_town"> </p>
                                <br>
                                <p>Telefon: <span v-text="course.parent_phone"></span> </p>
                                <a :href="course.fac_www" v-text="course.parent_www"> </a>
                            </div>

                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
            <ul class="pagination">
                <li :class="active_page==1 ? 'disabled' : null"><a @click="changePage(1, null)" >Pierwsza strona</a></li>
                <li :class="active_page==1 ? 'disabled' : null"><a @click="changePage(active_page-1,url_prev)" >Poprzednia strona</a></li>
                <li v-for="page, key in page_urls" :class="page.index==active_page ? 'active' : null">
                    <a v-text="page.index"
                       @click="changePage( page.index, page.href)"></a></li>
                <li :class="active_page==courses_pages ? 'disabled' : false"><a @click="changePage(active_page+1, url_next)" >Nastepna strona</a></li>
                <li :class="active_page==courses_pages ? 'disabled' : false"><a @click="changePage(courses_pages, null)" >Ostatnia strona</a></li>
            </ul>
        </div>
        <div v-if="courses_quantity==0" class="alert alert-danger">Brak wyników</div>

        <br>
        <pre>SELECT
  IC.cou_id, IC.cou_name course_name, DICT1.value qual, DICT2.value levels,
            DICT3.value cou_types, DICT4.value appl, DICT5.value subjects, DICT6.value  province,
  IC.cou_semesters semesters, ISEF.*, parent.*</pre>
    </div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .scrollable {
            height: 100px;
            padding: 5px;
            overflow: auto;
            border: 1px solid #ccc;
            width: 400px;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        var app = new Vue({
            el: '#root',
            data: {
                selects_values: [],
                checked_subjects: [],
                selected_voiv: '',
                selected_degree: '',
                selected_qualification: '',
                city: '',
                school_name: '',
                study_name: '',

                submited_filters: {},

                courses: [],

                row_show:'',
                courses_quantity:'',
                courses_pages:'',

                limit: 10,
                pagination_elements:10,
                active_page:1


            },
            methods: {
                filterData: function () {

                    var data = {
                        checked_subjects: this.checked_subjects,

                        selected_voiv: this.selected_voiv,
                        selected_degree: this.selected_degree,
                        selected_qualification: this.selected_qualification,
                        city: this.city,
                        school_name: this.school_name,
                        study_name: this.study_name
                    };

                    this.submited_filters = data;


                    $.ajax({
                        type: 'POST',
                        url: Routing.generate('courses_filter'),
                        data: data,
                        dataType: "json",
                        success: function (data) {
                            app.courses = data.courses_data;
                            app.courses_quantity = data.courses_quantity;
                            app.courses_pages = data.courses_pages;
                            app.active_page = 1;
                            app.row_show = '';
                        },
                        error: function (error) {
                            console.log(error)

                        }
                    });

                },
                changePage: function (index, href) {

                    if(href==null){
                        href = Routing.generate('get_courses_data', {'page': index, 'limit': this.limit});
                    }

                    if(index < 1 || index > this.courses_pages) {
                        return;
                    }

                    $.ajax({
                        type: 'POST',
                        data: app.submited_filters,
                        url: href,
                        success: function (data) {
                            app.courses = data.courses_data;
                            app.active_page = index;
                            app.row_show='';
                        }

                    });


                }

            },

            computed: {
                page_urls: function () {
                    var urls=[];

                    var first_page = this.active_page- Math.floor(this.pagination_elements/2);
                    var last_page = first_page + this.pagination_elements -1;


                    if(first_page <1)
                    {
                        first_page = 1;
                        last_page = first_page + this.pagination_elements -1;
                    }


                    if(last_page>this.courses_pages)
                    {
                        last_page=this.courses_pages;
                    }


                    for(var index = first_page; index <= last_page; index++){
                        var url = Routing.generate('get_courses_data', {'page': index, 'limit': this.limit});

                        urls.push({
                            index: index,
                            href: url
                        });

                    }
                    return urls;
                },
                url_prev: function () {
                    if(this.active_page==1) {
                        return this.active_page;
                    }

                    return Routing.generate('get_courses_data', {'page': this.active_page-1, 'limit': this.limit});
                },
                url_next: function () {
                    if(this.active_page==this.courses_pages) {
                        return this.courses_pages;
                    }

                    return Routing.generate('get_courses_data', {'page': this.active_page+1, 'limit': this.limit});
                }
            },



            mounted: function () {
                $.ajax({
                    url: Routing.generate('get_courses_data', {'page': this.active_page , 'limit': this.limit}),
                    success: function (data) {
                        app.selects_values.push(
                            data.voivodeship,
                            data.qualifications,
                            data.degree,
                            data.subjects
                        );
                        app.courses = data.courses_data;
                        app.courses_quantity = data.courses_quantity;
                        app.courses_pages = data.courses_pages;
                        $('#root').show();
                    }
                });

            },
            delimiters: ["@{", "}"]
        })
    </script>

{% endblock %}